body{
    background-color: #f6f6f6;
}
.center-wrapper{
    width: 1200px;
    margin: 30px auto 85px;
    /* 测试样式没有用 */
    /* background-color: pink ; */
    
    /* 一行显示 */
    display: flex;
    /* 主轴对齐 */
    justify-content: space-between;
}
/* 侧边栏模块 */
.center-wrapper .aside {
    width: 227px;
    background-color: #fff;
}
.center-wrapper .aside .user-meta {
    display: flex;
    /* 改变主轴方向 */
    flex-direction: column;
    /* 侧轴居中 */
    align-items: center;
    padding: 42px 0 32px 0;
}
.center-wrapper .aside .user-meta p {
    width: 93px;
    height: 26px;
    /* 渐变 */
    background-image: linear-gradient(20deg,
    #e05e2f 0%,
    #ea745e 95%);
    /* 圆角 */
    border-radius: 13px; 
    /* 居中 */
    line-height: 26px;
    font-size: 14px;
    color: #f9f9f9;
}
.center-wrapper .aside .user-meta p i{
    /* 一定是行内块 和文字在一行 */
    display: inline-block;
    /* 图标和文字对齐 */
    vertical-align: middle;
    width: 15px;
    height: 16px;
    background-color: pink;

}
.center-wrapper .aside .user-meta h4 {
    font-size: 18px;
    margin: 12px 0 10px 0;
}
.center-wrapper .main {
    width: 999px;
    background-color: #fff;
}
.center-wrapper .aside .pic{
    overflow: hidden;
    width: 85px;
    height: 85px;
    border-radius: 50%;
}
.center-wrapper .aside .pic img{
    width: 100%;
    height: 100%;
}
