@font-face {
  font-family: "iconfont"; /* Project id 3395208 */
  src: url('iconfont.woff2?t=1652327703860') format('woff2'),
       url('iconfont.woff?t=1652327703860') format('woff'),
       url('iconfont.ttf?t=1652327703860') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuche:before {
  content: "\e63f";
}

.icon-a-4-shezhi:before {
  content: "\e8ce";
}

.icon-a-6-didian:before {
  content: "\e8cf";
}

.icon-a-7-pinpai:before {
  content: "\e8d0";
}

.icon-a-9-zuo:before {
  content: "\e8d1";
}

.icon-a-11-shang:before {
  content: "\e8d2";
}

.icon-a-10-you:before {
  content: "\e8d3";
}

.icon-a-13-xihuan:before {
  content: "\e8d4";
}

.icon-a-2-caidan:before {
  content: "\e8d5";
}

.icon-a-1-sousuo:before {
  content: "\e8d6";
}

.icon-a-19-youhui:before {
  content: "\e8d7";
}

.icon-a-12-xia:before {
  content: "\e8d8";
}

.icon-a-20-tongzhi:before {
  content: "\e8d9";
}

.icon-a-40-xiazai:before {
  content: "\e8da";
}

.icon-a-45-suoxiao:before {
  content: "\e8db";
}

.icon-a-44-fangda:before {
  content: "\e8dc";
}

.icon-a-71-daohang:before {
  content: "\e8dd";
}

